body{
    margin: 0px;
}

.navbar-container{
    display: flex;
    flex-direction: row;
    border: red 2px dashed;
    padding: 1%;
    width: 97.8%;
}

.navbar-container div{
    border: 2px red dashed;
}

.div1{
    width: 30%;
    text-align: center;
}

.div2{
    width: 70%;
}